<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass App</title>
    <link rel="icon" href="static/images/unlock.svg">
</head>
<body style="background: black; color: white">
    <div id="header">
        <h1>Pass App</h1>
    </div>
    <div id="content">
        <input type="text" id="token" name="token" value="{{ token }}" style="display: none;" disabled/>

        {% if not session_validated %}
            <h3>Sign-up</h3>
            <form id="signUpForm" action="/submit" method="POST">
                <input id="up_user_name" type="text" name="up_user_name"
                    placeholder="Username" value="" required>
                <br />
                <input id="up_user_email" type="text" name="up_user_email"
                    placeholder="Useremail" value="" required>
                <br />
                <input id="up_user_pass" type="password" name="up_user_pass"
                    placeholder="Enter password" value="" required>
                <br />
                <button id="signUpButton" type="submit">Sign-up</button>
            </form>

            <h3>Login</h3>
            <form id="loginForm" action="/login" method="POST">
                <input id="login_user_name" type="text" name="login_user_name"
                    placeholder="Username" value="" required>
                <br />
                <input id="login_user_pass" type="password" name="login_user_pass"
                    placeholder="Enter password" value="" required>
                <br />
                <button id="loginButton" type="submit">Login</button>
            </form>

        {% else %}
            <h2>Welcome!</h2>
            <button id="logout">Logout</button>
        {% endif %}

        <h3>Load DB</h3>
        <form id="loadDb" action="/" method="POST">
            <input id="keepass_path" type="text" name="keepass_path"
                placeholder="Enter KeePass file path" value="{{ KEEPASS_FILE_PATH }}" required>
            <br />
            <input id="keepass_pass" type="password" name="keepass_pass"
                placeholder="Enter KeePass file pass" value="" required>
            <br />
            <button type="submit">Set KeePass File Location</button>
        </form>
        <button id="loadFileLocal">Load KeePass File Local</button>
        <p>{{ entries }}</p>

        <h2>{{ message }}</h2>

    </div>
    <div id="footer">
        <p>&copy; 2025 Pass App - NT &#174;</p>
    </div>
    <script src="static/JS/kdbxweb.js"></script>
    <script src="static/JS/wc_cred.js"></script>
    <script type="module" src="static/JS/passApp.js"></script>
</body>
</html>