<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass App</title>
    <link rel="icon" href="static/images/unlock.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background: black; color: white">
    <header class="navbar">
        <div class="navbar-left">
            <span class="brand">Pass App</span>
        </div>
        <div class="navbar-right">
            {% if not session_validated %}
                <i class="passAppIcn passAppIcnInfo">&#9432;</i>
            {% else %}
                <i class="passAppIcn">⚙</i>
                <button id="logout" class="passAppBtn">Logout</button>
            {% endif %}
        </div>
    </header>
    <div id="content">
        <input type="text" id="token" name="token" value="{{ token }}" style="display: none;" disabled/>

        {% if not session_validated %}
            <br /><br />
            <form id="loginForm" action="/login" method="POST">
                <input id="land_user_name" type="text" name="land_user_name"
                    placeholder="Username" value="" required>
                <br />
                <input id="land_user_pass" type="password" name="land_user_pass"
                    placeholder="Enter password" value="" required>
                <br />
                <br />
                <button id="loginButton" class="passAppBtn" type="submit">Login</button>
            </form>

            <h3>OR</h3>

            <form id="signUpForm" action="/submit" method="POST">
                <input id="verify_user_pass" type="password" name="verify_user_pass"
                    placeholder="Verify password" value="" required>
                <br />
                <input id="land_user_email" type="text" name="land_user_email"
                    placeholder="Useremail" value="" required>
                <br />
                <br />
                <button id="signUpButton" class="passAppBtn" type="submit">Sign-up</button>
            </form>
        {% else %}
            <h3>Load DB</h3>
            <form id="loadDb" action="/" method="POST">
                <input id="keepass_path" type="text" name="keepass_path"
                    placeholder="Enter KeePass file path" value="{{ KEEPASS_FILE_PATH }}" required>
                <br />
                <input id="keepass_pass" type="password" name="keepass_pass"
                    placeholder="Enter KeePass file pass" value="" required>
                <br />
                <button type="submit" class="passAppBtn">Set KeePass File Location</button>
            </form>
            <button id="loadFileLocal" class="passAppBtn">Load KeePass File Local</button>
            <p>{{ entries }}</p>

            <h2>{{ message }}</h2>
        {% endif %}
    </div>
    <div id="footer">
        <p>&copy; 2025 Pass App - NT &#174;</p>
    </div>
    <script src="static/JS/kdbxweb.js"></script>
    <script src="static/JS/wc_cred.js"></script>
    <script type="module" src="static/JS/passApp.js"></script>
</body>
</html>